---
layout: default
---
<img width="40px" src="https://avatars2.githubusercontent.com/u/24756716?v=3&u=c7746a7c6834b02bf49cce200917156fce681bcf&s=400">
<div class="header">
    <a style="color:#000;" href="/"><h1>{{ site.name }}</h1></a>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul><br>
</div>

<div id="blog">
    <center><h1>&lt; blog ></h1></center>
    <!-- <div class="about__title">Words</div> -->
    <ul>
       {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
