<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>&lt;log></title>
        <!--<title>{{ site.name }} </title>-->
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/xt.ico">
    <link rel="stylesheet" 
href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body><img width="16%" style="position:absolute;" src="https://avatars2.githubusercontent.com/u/24756716?v=3&u=c7746a7c6834b02bf49cce200917156fce681bcf&s=400">

    <div class="wrapper">
        {{ content }}
    </div>
      
{% include footer.html %}
    
{% include analytics.html %}
</body>

</html>
